# Created by .ignore support plugin (hsz.mobi)
predict/
*/build
*/.idea
*/.vs
*/*.xml
*/x64
/LearnNotes/VTK/C++/light_demo/build/
/MedImgAlg/Marching_Cubes/.vs/
/LearnNotes/Python/pybind_demo/.idea/
/MedImgAlg/Delaunay_Triangulation/build
/MedImgAlg/ICP/ICP_C++/ICP/Debug
/MedImgAlg/ICP/ICP_C++/ICP/x64
/MedImgAlg/Marching_Cubes/data
/LearnNotes/Python/cpython_demo/SiddonPythonModule/build/
/LearnNotes/Python/cpython_demo/SiddonPythonModule/lib/
/LearnNotes/Python/cpython_demo/SiddonClassLib/src/build/
